@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #F2F4F8;
}
a:hover{
  text-decoration: underline;
  color: #d1cece;
}
.btn{
  box-sizing: border-box;

/* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: -8.1892px 29.7163px;
  gap: 12.38px;
  font-weight: 500;
font-size: 19.8108px;
line-height: 150%;
  width: 112.43px;
  height: 69.62px;

  border: 1.23818px solid #F2F4F8;
  border-radius: 39.6217px;

}

.container{
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

li{
  list-style: none;
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn{
    width: 150.43px;
    height: 69.62px;
    padding: 19.8108px 29.7163px;
    gap: 12.38px;
  }
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}